<ion-toolbar color="pastel">
 

  <ion-buttons slot="end">
    
    <ion-searchbar animated showCancelButton="focus" ></ion-searchbar>
   
   <ion-button>
     <ion-icon slot="icon-only" name="heart" color="tertiary"></ion-icon>
   </ion-button> 
    <ion-button>
      <ion-icon slot="icon-only" name="person" color="tertiary"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="bag-outline" color="tertiary"></ion-icon>
    </ion-button>
  </ion-buttons>


  <ion-title slot="start">
    <img class="logo"src="./assets/Group 34.png" />
  </ion-title>

  <ion-buttons slot="start" class="categorias">
    <ion-button>
      <ion-text  color="letracategorias" component="novidades">Novidades</ion-text>
    </ion-button>
    <ion-button>
      <ion-text  color="letracategorias">Recém-nascidos</ion-text>
    </ion-button>
        
    <ion-button>
      <ion-text  color="letracategorias">Bebé</ion-text>
    </ion-button>
    <ion-button>
      <ion-text color="letracategorias">Criança</ion-text>
    </ion-button>

    <ion-button>
      <ion-text color="letracategorias">Mãe</ion-text>
    </ion-button>
    <ion-button>
      <ion-text color="letracategorias">Cuidados</ion-text>
    </ion-button>
    <ion-button>
      <ion-text color="letracategorias">Brinquedos</ion-text>
    </ion-button>

    <ion-button>
      <ion-text  color="letracategorias">Casa</ion-text>
    </ion-button>
  </ion-buttons>

</ion-toolbar>

<ion-content >
  <img class= "capa"src="./assets/home images/cardigan.png" />
      <ion-title class="p"></ion-title>
    
      <ion-footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <h4>TugaKidsClothes</h4>
              <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Guias de Tamanhos</a></li>
                <li><a href="#">Localizar Loja</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Ajuda</h4>
              <ul>
                <li><a href="#">Perguntas Frequentes</a></li>
                <li><a href="#">Entrega</a></li>
                <li><a href="#">Devoluções</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Informações Legais</h4>
              <ul>
                <li><a href="#">Termos e Condições</a></li>
                <li><a href="#">Política de Privacidade</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Apoio ao Cliente</h4>
              <ul>
                <li><a href="#">(+351) 000 000 001</a></li>
                <li><a href="#">clienteonline@tugakidsclothes.com</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Métodos de Pagamento</h4>
              <ul>
                <li><a href="#">iuhiuh</a></li>
                <li><a href="#">iuhiuh</a></li>
              </ul>
            </div>
          </div>
        </div>
      </ion-footer>
</ion-content>






